<nav class="navbar navbar-expand-lg  px-3">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2 fw-semibold" href="#">
      <svg lucideMap [size]="50"></svg>
      <h1>Turismo del Norte</h1>
    </a>

    <div class="d-flex align-items-center ms-auto gap-3 ">
      <div class="d-flex align-items-center gap-2 text-white">
        <div class="text-end d-flex">
          <svg lucideUser [size]="20"></svg>
          <div class="user-name">Nombre Usuario</div>
        </div>

        <button class="btn btn-primary btn-sm d-flex align-items-center gap-2 px-3">
          <svg lucideLogOut [size]="20"></svg>
          <span class="d-none d-md-inline">Salir</span>
        </button>

      </div>

    </div>
  </div>
</nav>
