<div class="container">
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">

    @if (!clienteRegistrandose) {
    <h2 class="card-title mb-2">Registrate!</h2>
    <p class="login-subtitle mb-4">
      Y empieza a reservar tus próximas vacaciones!
    </p>
    } @else {
    <span class="login-span text-muted mb-2">{{ signupModel.correoElectronico }}</span>
    @if (signupModel.token) {
    <h3 class="card-title mb-4">¡Hola{{ signupModel.nombreCompleto ? ', ' + signupModel.nombreCompleto : '' }}!</h3>
    }
    <h5 class="card-title mb-2">Completa los siguientes campos:</h5>
    }

    @if (!clienteRegistrandose) {
    <div class="mb-3">
      <label class="form-label" for="correoElectronico">Correo electrónico</label>
      <input type="email" class="form-control" id="correoElectronico" required
        [(ngModel)]="signupModel.correoElectronico" name="correoElectronico" placeholder="user@example.com" />
    </div>
    <div class="mb-4">
      <label class="form-label" for="clave">Contraseña</label>
      <input type="password" class="form-control" id="clave" required [(ngModel)]="signupModel.clave" name="clave" />
    </div>
    }

    @if (clienteRegistrandose) {
    <fieldset>
      <div class="mb-3">
        <label class="form-label" for="nombreCompleto">Nombre completo:</label>
        <input type="text" class="form-control" id="nombreCompleto" required [(ngModel)]="signupModel.nombreCompleto"
          placeholder="ej. Juan Garcia" name="nombreCompleto" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="dni">DNI:</label>
        <input type="text" class="form-control" id="dni" required [(ngModel)]="signupModel.dni" name="dni" />
      </div>
      <div class="mb-4">
        <label class="form-label" for="telefono">Telefono:</label>
        <input type="text" class="form-control" id="telefono" required [(ngModel)]="signupModel.telefono"
          name="telefono" placeholder="+54 XXX-XXX-XXXX" />
      </div>
    </fieldset>
    }

    <!-- Boton registrar | sprinner | mensaje -->
    <div class="d-flex flex-column column-gap-2 mb-4">
      <div class="d-flex align-content-center column-gap-3 mb-3">
        <button type="submit" class="btn btn-primary w-100" [disabled]="!signupForm.form.valid || cargando">
          {{ !clienteRegistrandose ? 'Registrarme' : 'Terminar de Registrarme' }}
        </button>
      </div>

      @if (mostrarTextoDeExitoAlRegistrarse) {
      <span class="text-success">Registrado! redirigiendo...</span>
      }

      @if (mostrarTextoDeErrorAlRegistrarse) {
      <span class="text-danger">{{ mensajeErrorAlRegistrarse || 'Ocurrió un error al registrarse' }}</span>
      }
    </div>

    @if (!clienteRegistrandose) {
    <div class="divisor mb-3">
      <span class="px-2">o</span>
    </div>
    <div #googleBtn></div>
    }

  </form>
</div>