.login-page {
  padding: 2em;
  max-width: calc(400px + 4em);
  height: max-content;
  border-radius: 4px;
}

.login-card {
  height: 100%;
  width: 100%;
}

.divisor {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-muted);
}

.divisor::before,
.divisor::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--color-text-muted);
}