form {
  background-color: var(--color-surface);
  padding: 2em;
  max-width: 400px;
  border-radius: 4px;
  margin: 2em auto;
}

input {
  max-width: 350px;
}

.login-span {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.divisor {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-muted);
}

.divisor::before,
.divisor::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--color-text-muted);
}