<div class="dashboard-header">
  <button class="btn btn-primary" (click)="exportarExcel()" [disabled]="exportandoExcel">
    {{ exportandoExcel ? 'Generando...' : 'Exportar a Excel' }}
  </button>

  <button class="btn btn-primary" (click)="exportarPDF()" [disabled]="exportandoPDF">
    {{ exportandoPDF ? 'Generando...' : 'Exportar a PDF' }}
  </button>
</div>
<div class="charts-grid">

  <div class="chart-card">
    <h3>Reservas por mes</h3>
    <div class="chart-wrapper">
      <canvas baseChart [data]="reservasPorMesData" [type]="'bar'" [options]="reservasPorMesOptions">
      </canvas>
    </div>
  </div>

  <div class="chart-card">
    <h3>Reservas por estado</h3>
    <div class="chart-wrapper">
      <canvas baseChart [data]="reservasPorEstadoData" [type]="'pie'" [options]="reservasPorEstadoOptions">
      </canvas>
    </div>
  </div>

</div>

<div class="fila-inferior">
  <div class="chart-card">
    <h3>Evolución de ingresos</h3>
    <div class="chart-wrapper">
      <canvas baseChart [data]="ingresosEvolucionData" [type]="'line'" [options]="ingresosEvolucionOptions">
      </canvas>
    </div>
  </div>

  <div class="resumen-container">
    <ng-container *ngIf="!cargandoResumen; else loadingResumenTpl">
      <div class="kpi-cards">
        <div class="kpi-card">
          <span class="kpi-label">Total de reservas</span>
          <span class="kpi-valor">{{ totalReservas }}</span>
        </div>

        <div class="kpi-card">
          <span class="kpi-label">Ingresos totales</span>
          <span class="kpi-valor">{{ ingresosTotales | currency: 'ARS':'symbol':'1.0-0' }}</span>
        </div>
        <div class="kpi-card" *ngIf="paqueteMasVendido">
          <span class="kpi-label">Paquete más vendido</span>
          <span class="kpi-valor">{{ paqueteMasVendido }}</span>
        </div>
      </div>
    </ng-container>

    <ng-template #loadingResumenTpl>
      <p>Cargando resumen...</p>
    </ng-template>
  </div>
</div>

<app-reservas-tabla></app-reservas-tabla>
